

     <section>
     <h2>What is DRUW?</h2>
     <p>DRUW is the institutional data repository application for the University of Washington Research community. Hosted by the University of Washington Libraries, it provides a place to deposit research data developed in support of research activities at the UW.
</p>
     </section>
  
    <section>
        <h2>Policies</h2>
        <ul>
	    <li><%= link_to t(:'hyrax.statics.collection_policy'), main_app.collection_policy_path%>: Conditions for use of materials found in the repository</li>
            <li><%= link_to t(:'hyrax.statics.terms_of_use'), main_app.terms_of_use_path%>: Conditions for uploading data to the repository</li>
            <li><%= link_to t(:'hyrax.statics.terms_of_deposit'), main_app.terms_of_deposit_path%>: A general framework against which current and future collection decisions can be made</li>
            <li><%= link_to t(:'hyrax.statics.withdrawal'), main_app.withdrawal_path%>: Conditions for withdrawing materials from the repository</li>
            <li><%= link_to t(:'hyrax.statics.protected_info'), main_app.protected_info_path%>: Rules governing identifiable information</li>
            <li><a href="https://www.washington.edu/online/privacy">University of Washington Privacy Policy</a></li>
        </ul>
    </section>

    <section>
        <h2>Frequently Asked Questions</h2>
        <p>A list of commonly asked questions and their answers can be found <%= link_to main_app.faq_path do%>HERE<%end%>.
        </p>
    </section>

    <section>
        <h2>Technical Infrastructure</h2>
        <p>DRUW is built on <a href="http://hyr.ax">Samvera Hyrax</a>, an open source technology. Our data model is PCDM. DRUW will accept any file format. However, please refer to the <%= link_to 'what can be deposited', main_app.faq_path%> section of the FAQ for a list of suggested formats.
        </p>
    </section>

    <section>
        <h2>Further Assistance</h2>
        <p> <%=t('hyrax.product_name')%> is supported by the UW Libraries' Digital Strategies group. </p>
        <ul>
        <li>For general questions contact <a href="mailto:rworks@uw.edu">rworks@uw.edu</a></li>
        <li>Repository Librarian: David Tolmie (<a href="mailto:dtolmie@uw.edu">dtolmie@uw.edu)</a></li>
        <li>Data Management Librarian: Jenny Muilenburg (<a href="mailto:jmuil@uw.edu">jmuil@uw.edu)</a></li>
        <li>Scholarly Publishing Outreach Librarian: Liz Bedford (<a href="mailto:ebedford@uw.edu">ebedford@uw.edu)</a></li>
        </ul>
    </section>


