<section>
    <h2>What is <%=t('hyrax.product_name')%>?</h2>
    <p><%=t('hyrax.product_name')%> is the University of Washington’s Data Repository. It is a platform meant to allow UW researchers to make their research data accessible to the world, at a stable URL, with the assurance the materials will be maintained into the future.
    </p>
</section>

<section>
    <h2>Who can deposit to <%=t('hyrax.product_name')%>?</h2>
    <p>Members of the UW community who are engaged in research―—faculty, graduate students, and staff can use <%=t('hyrax.product_name')%>. Use your NetID to activate your account.
    </p>
</section>

<section>
    <h2>Why should you deposit data to <%=t('hyrax.product_name')%>?</h2>
    <ul>
	<li>To comply with University data management planning and data sharing requirements</li>
	<li>To comply with grant funding or journal publishing policies</li>
	<li>To increase visibility for your research</li>
	<li>To preserve your data</li>
	<li>To share your data</li> 
	<li>For reproducibility of research</li>
    </ul>
</section>

<section>
    <h2>What ‘data’ can be deposited in <%=t('hyrax.product_name')%>?</h2>
    <p> Any materials that support the conclusions of a research project and would be needed for someone to reproduce your work. This can be images, traditional datasets in various formats, software and algorithms used to process data, and other protocols surrounding data collection and analysis.
    </p>
	<p><%=t('hyrax.product_name')%> is not HIPAA-compliant, and so is not an appropriate platform for sensitive data. Consult the Protected Information policy for more details.</p>
	<p><strong>File sizes:</strong><br /> 
	Individual files up to 2GB in size may be uploaded. Depending on the speed of your internet connection, the uploading of large files may take a significant amount of time. If you have a file or collection of files larger than this, please contact the <a href="mailto:dtolmie@uw.edu">repository manager</a>.
	</p>
	<p><strong>Suggested formats:</strong><br />
	While <%=t('hyrax.product_name')%> will accept any file format, to maximize the ability to share, preserve, and re-use digital files, you will want to carefully consider the file format you use for your data. Careful selection of a file format can also help you down the road by limiting the chances of your data becoming obsolete when a proprietary format is no longer supported.
	</p>
	<p>In general, UW Libraries encourages you to use file formats that are:</p>
	<ul>
	<li><a href="https://en.wikipedia.org/wiki/Open_format">Open format</a> (or free file formats--well-documented)</li>
	<li>Non-proprietary</li>
	<li>Commonly used within your field or discipline</li>
	<li>Have a standard encoding (ASCII, Unicode)</li>
	<li>And are not otherwise encrypted or compressed</li>
    </ul>
</section>

<section>
    <h2>Who can access the data?</h2>
    <p><%=t('hyrax.product_name')%> is an Open Access repository, so anyone with web access can view and download the data. If you need a DOI for a publication but the journal does not allow access before the publication, contact us and we can work something out.
    </p>
</section>

<section>
    <h2>How should you describe your data?</h2>
    <p>The goal is for your data to not only be findable, but useable. In general, you will need to include descriptive metadata. We also recommend that you include a readme file. If you need assistance finding a metadata standard that’s appropriate, contact our <%= link_to main_app.about_path do%>Data Librarians<%end%>.
    </p>
</section>

<section>
    <h2>How does depositing material affect the copyright?</h2>
    <p>Deposit does not affect the copyright or ownership status of any materials. For deposits that include copyrightable material, copyright rests with the holder. According to the <%= link_to main_app.terms_of_deposit_path do%>Terms of Deposit<%end%>, depositors grant <%=t('hyrax.product_name')%> a non-exclusive license to preserve and make the data available. But it’s important to note that according to <a href="https://www.washington.edu/research/policies/gim-37-research-data/">UW Grants Information Memorandum 37</a>, UW owns all data produced at the University. Researchers have responsibility for stewardship of the data, and <%=t('hyrax.product_name')%> is a recommended way of providing that.
    </p>
</section>

<section>
    <h2>How will your material be licensed?</h2>
    <p>All research data is owned by the University of Washington, but you have stewardship over it and have the responsibility and opportunity to assign the license you feel is most appropriate. The <%= link_to main_app.terms_of_deposit_path do%>Terms of Deposit<%end%> explains your license options and gives detail on the ownership status of data and other products of research. 
    </p>
</section>

<section>
    <h2>How can you change or withdraw deposits?</h2>
    <p>If you made a mistake in your upload (spelled someone’s name wrong, etc.) contact us and we can fix it for you. If there is an updated version of the data set, you can either create a new deposit, which will get a new DOI but link to the earlier version, or add the new set to the old deposit. Only in very specific circumstances - usually involving intellectual property or privacy violations - will full withdrawals be appropriate. See our <%= link_to main_app.withdrawal_path do%>Withdrawal Policy<%end%> for more info.
    </p>
</section>
