<div class="image-masthead">
  <div class="background-container" style="background-image: url('<%= asset_path Sufia.config.banner_image %>')"></div>
  <span class="background-container-gradient"></span>

  <% if controller_name == 'homepage' %>
    <div class="site-title" >
       <div id="site-title-message">
          <p>
             Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas non pulvinar est.
             Morbi dictum nisl ac ultrices sodales. Mauris posuere sodales augue, eget mattis lacus
             commodo sed. Ut et arcu a risus mollis fringilla id ultrices arcu. Suspendisse potenti. 
             Nulla facilisi. In porta nibh sem, ac venenatis odio consequat nec. Nam ipsum elit, 
             rhoncus in velit sit amet, hendrerit vehicula quam. Mauris scelerisque suscipit ex. 
             Vestibulum vestibulum dui ac porttitor varius. Vestibulum in elit tellus. Vivamus 
             ultricies luctus magna eu feugiat. 
          </p>
       </div>
       <div id="site-title-buttons">
          <%= link_to [:new, Sufia.primary_work_type.model_name.singular_route_key],
              class: "btn btn-primary btn-lg" do %>
              <%= t('sufia.share_button') %>
          <% end %>      

          <%= link_to main_app.search_catalog_path, :'class'=>"btn btn-primary btn-lg" do %>
              Browse <%= t('sufia.product_name') %> 
          <% end %>

       </div>
    </div>
  <% end %>
</div>


