<div class="image-masthead">
  <div class="background-container"></div>
  <span class="background-container-gradient"></span>

  <% if controller_name == 'homepage' %>
    <div class="site-title" >
       <div id="site-title-message">
          <p>
            DRUW is the institutional data repository for the University of Washington Research community. Hosted by the University of Washington Libraries, it provides a place to deposit research data developed in support of research activities at the UW.
          </p>
       </div>
       <div id="site-title-buttons">

         <% if signed_in? %>
           <% if create_work_presenter.many? %>
             <%= link_to '#',
               class: "btn btn-primary btn-lg",
               data: { behavior: 'select-work', target: '#worktypes-to-create', 'create-type' => 'single' } do %>
<%#              <i class="glyphicon glyphicon-upload"></i> <%= t('hyrax.share_button') %>
               <%= t('hyrax.share_button') %>
             <% end %>
           <% else # simple link to the first work type %>
             <%= link_to new_polymorphic_path([main_app, create_work_presenter.first_model]),
                   class: 'btn btn-primary btn-lg' do %>
<%#              <i class="glyphicon glyphicon-upload"></i> <%= t('hyrax.share_button') %>
               <%= t('hyrax.share_button') %>
             <% end %>
           <% end %>
         <% else %>
           <%= link_to hyrax.my_works_path,
             class: "btn btn-primary btn-lg" do %>
<%#              <i class="glyphicon glyphicon-upload"></i> <%= t('hyrax.share_button') %>
              <%= t('hyrax.share_button') %>
           <% end %>
         <% end %>

         <%= link_to main_app.search_catalog_path, :'class'=>"btn btn-primary btn-lg" do %>
           Browse <%= t('hyrax.product_name') %>
         <% end %>

       </div>
    </div>
  <% end %>
</div>
