<% if user_signed_in? %>
    <div id="user_menu" class="dropdown">
        <button id="user_menu_button" class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="glyphicon glyphicon-user visible-xs-block" aria-hidden="true"></span>

            <span class="sr-only">View</span>
            <span class="hidden-xs">&nbsp;<%= current_user.name %></span>
            <span class="sr-only"> profile</span>
            <!--<span class="fa fa-user"></span>-->
            <span class="glyphicon glyphicon-menu-down" ></span>
            <span class="glyphicon glyphicon-menu-up" ></span>
        </button>
        <ul class="dropdown-menu dropdown-menu-right" role="menu">
            <% if can? :read, :admin_dashboard %>
               <li role="menuitem">
                  <%= link_to t("sufia.toolbar.admin.menu"), sufia.admin_path %>
               </li>
               <li role="separator" class="divider"></li>
            <% end %>
         

            <li role="menuitem"><%= link_to t("sufia.toolbar.dashboard.my"), sufia.dashboard_index_path %></li>

            <li role="separator" class="divider"></li>

            <% if can_ever_create_works? %>
               <li role="menuitem"><%= link_to t("sufia.toolbar.works.my"), sufia.dashboard_works_path %></li>
            <% end %>
            <% if can?(:create, Collection) %>
               <li role="menuitem"><%= link_to t("sufia.toolbar.collections.my"), sufia.dashboard_collections_path %></li>
            <% end %>
            <% if can_ever_create_works? || can?(:create, Collection) %> 
                 <li role="separator" class="divider"></li>
            <% end %>


            <li role="menuitem"><%= link_to 'View Profile', sufia.profile_path(current_user) %></li>
            <li role="menuitem"><%= link_to 'Edit Profile', sufia.edit_profile_path(current_user) %></li>

            <li role="separator" class="divider"></li>


            <li role="menuitem"><%= link_to 'Logout', main_app.destroy_user_session_path %></li>
        </ul>
    </div>
<% else %>
    <%= link_to main_app.new_user_session_path, class:"btn btn-primary", id:"user_login_link" do %>
        <span class="glyphicon glyphicon-log-in" aria-hidden="true"></span> Login
    <% end %>
<% end %>
